

.imageCard {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.imageCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.imageCard:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  filter: brightness(98%);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.textContainer {
  padding: 0.75rem;
  font-size: 0.9rem;
  color: #555;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.description {
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.photographerInfo {
  margin: 0;
  font-size: 0.8rem;
  color: #777;
  text-decoration: none;
}
.photographerLink {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.photographerLink:hover {
  color: #0056b3;
  text-decoration: underline;
}



